:root{
  --btn-color: #3E0B08;
  --division-title-color: #3E0B08;
  --form-bg-color: #F0A85C;
  --form-multselect-bg: #3E0B08;
  --form-multselect-text: white;
  --form-text-color: #3E0B08;
  --navbar-border-color: #F0A85C;

  
}



body{
  
  font-family: 'Noto Sans', sans-serif;
  margin: 0 5px;
  }

/*Navbar-----------------------------------------------------------------------*/
.navbar{
  background-color: white !important;
  text-align: right;
  border-bottom: 5px solid var(--navbar-border-color);
  margin-bottom: 12px;
  font-size: 18px !important;
}

.navbar-nav{
  position: absolute;
  right: 10%;
}

.brand {
  color: #777777;
}

.brand:hover{
  
  color: black;
  text-decoration: unset;
}

/*
.navbar-nav>li>a{
  font-size: 18px !important;
}
*/

.navbar-nav>.active>a{
  background-color: white !important;
  color: black !important;

}

/*Form ------------------------------------------------------------------------*/
.form{
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-bg-color);
  color:var(--form-text-color);
  font-family: 'Noto Sans', sans-serif;
    
}

input[checked] {
  background-color: yellow;
}

  
/*colors of single selects */
  .selectize-control.single,.selectize-input,.selectize-dropdown {
    color: var(--form-text-color) !important;
  }
  

/*colors of multiple selects*/  
  .selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: var(--form-multselect-bg) !important;
    color: var(--form-multselect-text) !important;
    border: 0 solid rgba(0, 0, 0, 0);
}
  
  
/*boton*/
  .btn{
    color: #fff;
    background-color: var(--btn-color) !important;
    color: white !important;
  }
  
  .btn:hover{
    opacity: 0.5 !important;
  }
  
  .
/*header----------------------------------------------------------------------*/


.containerHeader{
  margin-bottom: 40px;
}

.con{
  margin-bottom: 40px;
  
}
.title_division{
  color: var(--division-title-color);
  font-size: 42px;
  font-weight: 800;
  
}

.title_indicator{
  color: var(--division-title-color);
  font-size: 30px;
  font-weight: 700;
  
}

.compare-text{
  
  color:gray;
  font-size:20px;
}
.yes {
  color: #002244;
  font-weight: "bold";
   font-size:20px;
}

.no{
  color: #009FDA;
  font-size:20px;
}

/*Reactable ----------------------------------------------------------------*/

.ReactTable{
  
  margin-bottom: 80px;
}

.rt-th-content{
  color: var(--division-title-color) !important;
}

.rt-table {
  
    border-color: var(--form-bg-color) !important;
    border-top-color: var(--form-bg-color) !important;
    border-right-color: var(--form-bg-color) !important;
    border-bottom-color: var(--form-bg-color) !important;
    border-left-color: var(--form-bg-color) !important;
}

/*Mobile-------------------------------------------------------------------*/
  @media (max-width:768px){
    .navbar-nav{
      background-color: white !important;
    }
    
  }
