body{
  font-family: 'Noto Serif', serif;
  margin: 0 5px;
}

/*Navbar-----------------------------------------------------------------------*/
.navbar{
  background-color: white !important;
  text-align: right;
  border-bottom: 1.5px solid black;
  font-size: 18px !important;
}

.navbar-nav{
  position: absolute;
  right: 10%;
}

.brand {
  color: #777777;
}

.brand:hover{
  
  color: black;
  text-decoration: unset;
}

/*
.navbar-nav>li>a{
  font-size: 18px !important;
}
*/

.navbar-nav>.active>a{
  background-color: white !important;
  border-bottom: 4px solid black !important;
  color: black !important;

}

/*Form ------------------------------------------------------------------------*/
.form{
  border: 1px solid black;
  font-family: 'Noto Sans', sans-serif;
  background-color: #fafafa
}


  .btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
  }
  
<<<<<<< HEAD
=======
/*header* "#053657", '#0071bc', "#A3DAFF"*/

.compare-text{
  
  color:gray;
}
.yes {
  color: #002244;
  font-weight: "bold";
}

.no{
  color: #009FDA;
}
>>>>>>> a744f8fdd4c80e6cda7d0b34ac1792b0d300d27c
/*Mobile-------------------------------------------------------------------*/
  @media (max-width:768px){
    .navbar-nav{
      background-color: white !important;
    }
    
  }
